.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
}

.App-header {
  background-color: blue;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.App-content {
  height: 80vh;
}